<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Your Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
        <ion-item>
    <!-- <ion-label position="stacked">Full Name</ion-label> -->
    <b>Name :</b>  <ion-input readonly [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item>
    <!-- <ion-label position="stacked">UCID</ion-label> -->
    <b>PRN :</b> <ion-input  type="number" readonly [(ngModel)]="uid"></ion-input>
  </ion-item>

  <ion-item>
    <!-- <ion-label position="stacked">Email</ion-label> -->
    <b>Email :</b> <ion-input type="email"  readonly [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <!-- <ion-label position="stacked">Contact</ion-label> -->
    <b>Contact :</b> <ion-input  type="tel" readonly [(ngModel)]="phone"></ion-input>
  </ion-item>


  <br>

  <ion-progress-bar type="indeterminate" reversed="true" color="danger"></ion-progress-bar>
    <ion-progress-bar type="indeterminate" reversed="true" color="warning"></ion-progress-bar>
    <ion-progress-bar type="indeterminate" reversed="true" color="danger"></ion-progress-bar>

  <ion-item>
    <ion-label><h1>Graduation</h1></ion-label>
    </ion-item>
      <ion-item>
        <!-- <ion-label position="stacked">Year of Passing</ion-label> -->
        <b>Year of Passing :</b> <ion-datetime displayFormat="YYYY" readonly [(ngModel)]="clgPassing"></ion-datetime>
      </ion-item>
      <ion-item>
        <!-- <ion-label position="stacked">Name of College</ion-label> -->
        <b>College Name :</b> <ion-input [(ngModel)]="clgCollege" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-input readonly><b>Percentage : </b>{{clgPercentage}}%</ion-input>
      </ion-item>
      <ion-progress-bar type="indeterminate"   buffer="0.1" color="danger"></ion-progress-bar>
      <ion-progress-bar type="indeterminate"  value="0.95" buffer="0.1" color="warning"></ion-progress-bar>
      <ion-progress-bar type="indeterminate"   buffer="0.1" color="danger"></ion-progress-bar>

  <ion-item>

  <ion-label><h1>HSC</h1></ion-label>
  </ion-item>
    <ion-item>
      <!-- <ion-label position="stacked">Year of Passing</ion-label> -->
      <b>Year of Passing :</b>  <ion-datetime displayFormat="YYYY" readonly [(ngModel)]="hscPassing"></ion-datetime>
    </ion-item>
    <ion-item>
      <!-- <ion-label position="stacked">Name of College</ion-label> -->
      <b>School Name :</b>  <ion-input [(ngModel)]="hscCollege" readonly></ion-input>
    </ion-item>


    <ion-item>
      <ion-input readonly><b>Percentage : </b> {{hscPercentage}}%</ion-input>
    </ion-item>
    <ion-progress-bar type="indeterminate" reversed="true" color="danger"></ion-progress-bar>
    <ion-progress-bar type="indeterminate" reversed="true" color="warning"></ion-progress-bar>
    <ion-progress-bar type="indeterminate" reversed="true" color="danger"></ion-progress-bar>

    <ion-item>
      <ion-label><h1>SSC</h1></ion-label>
      </ion-item>
        <ion-item>
          <!-- <ion-label position="stacked">Year of Passing</ion-label> -->
          <b>Year of Passing :</b><ion-datetime displayFormat="YYYY" readonly [(ngModel)]="sscPassing"></ion-datetime>
        </ion-item>
        <ion-item>
          <!-- <ion-label position="stacked">Name of School</ion-label> -->
          <b>School Name :</b>  <ion-input readonly [(ngModel)]="sscCollege"></ion-input>
        </ion-item>


        <ion-item>
          <ion-input readonly><b>Percentage : </b>{{sscPercentage}}%</ion-input>
        </ion-item>

        <ion-item>
          <!-- <ion-label position="stacked">Name of College</ion-label> -->
          <b>Addtional Courses :</b>  <ion-input [(ngModel)]="additionalCourses" readonly></ion-input>
        </ion-item>
        <ion-progress-bar type="indeterminate"  color="danger"></ion-progress-bar>

        <ion-progress-bar type="indeterminate" color="danger"></ion-progress-bar>
  <ion-list>
    <ion-item *ngFor="let f of cloudFiles">
    <ion-button href="{{f.url}}" color="warning">View Resume</ion-button>
      <ion-label class="ion-text-wrap">
        {{ f.name }}
        <p>{{ f.full }}</p>
      </ion-label>

    </ion-item>
  </ion-list>
</ion-card>
</ion-content>
